html,
body {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  font-size: 50px;
  color: hsl(0, 0%, 100%);
  background-color: hsl(200, 36%, 36%);
}

#calculator {
  display: inherit;
  flex-direction: column;
  box-shadow: 0 10px 30px hsl(199, 31%, 19%);
  background-color: hsl(200, 30%, 50%);
  border-radius: 12px;
  border-style: none;
  padding: 30px;
  margin-bottom: 20px;
  min-height: 420px;
  width: 280px;
}

.container {
  display: inherit;
  flex: 1;
  min-height: 70px;
}

#displayValue {
  font-size: 25px;
  text-align: right;
  word-wrap: break-word;
  word-break: break-all;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: hsl(0, 1%, 31%);
  box-shadow: 0 5px 20px black;
}

button {
  flex: 1;
  border: none;
  margin: 3px;
  color: hsl(0, 0%, 100%);
  font-weight: bold;
  border-radius: 12px;
  box-shadow: 0 5px 20px hsl(199, 31%, 19%);
  background-color: hsl(200, 30%, 60%);
}

button:hover {
  background-color: hsl(200, 30%, 70%);
  border-radius: 18px;
  transition: all 0.2s ease 0s;
}

#equalsBtn {
  flex: 2.3;
}

#equalsBtn:hover {
  background-color: hsl(117, 37%, 63%);
  border-radius: 18px;
  transition: all 0.2s ease 0s;
}

.operatorBtn:hover {
  background-color: hsl(0, 37%, 59%);
  border-radius: 18px;
  transition: all 0.2s ease 0s;
}

#allClear:hover {
  background-color: hsl(67, 42%, 63%);
  border-radius: 18px;
  transition: all 0.2s ease 0s;
}

footer {
  font-family: "Ludica Console", Monospace;
  font-size: 16px;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: hsl(0, 0%, 100%);
}
